boto==2.38.0
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8.2
django-appconf==1.0.1
django-formset-js==0.4.3
django-jquery-js==2.1.4
django-storages==1.1.8
-e git+https://github.com/jschneier/django-storages-redux.git@47f373ef6f18e467844aa67b06cb4736d9cad958#egg=django_storages_redux-master
django-toolbelt==0.0.1
google-api-python-client==1.4.0
gunicorn==19.3.0
httplib2==0.9.1
oauth2client==1.4.11
psycopg2==2.6
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycrypto==2.6.1
python-dateutil==2.4.2
requests==2.7.0
rsa==3.1.4
simplejson==3.7.3
six==1.9.0
static3==0.6.1
uritemplate==0.6
wheel==0.24.0
whitenoise==1.0.6
