{% extends 'proyectos/base.html' %}

{% block content %}
	<h1>Lista de proyectos finalizados:</h1>	<!-- Sólo proyectos asociados al PM -->
	{% if lista_proyectos %}
		<table class="table table-hover">
			<tr class="active">
				<th>Nombre</th>
				<th>Fecha de publicación</th>
			</tr>
		
			{% for proyecto in lista_proyectos %}
			<tr>
				<td><a href="{% url 'proyectos:proyecto' proyecto.id %}"><span class="glyphicon glyphicon-briefcase"></span> {{ proyecto.nombre }}</a></td>
				<td>{{ proyecto.fecha_pub }}</td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
		<p><span class="glyphicon glyphicon-warning-sign"></span> No se han encontrado proyectos para mostrar.</p>
	{% endif %}
{% endblock %}
