{% extends 'proyectos/base.html' %}

{% block content %}
	<!--- Mostrar lista de usuarios -->
	<h1>Listado de usuarios</h1>
	<table class="table table-hover">
		<tr class="active">
			<th>Nombre de usuario</th>
			<th>email</th>
		</tr>
		{% for user in lista_usuarios %}
			<tr>
				<td><a href="{% url 'proyectos:usuario' user.id %}">{{ user.username }}</a></td>
				<td>{{ user.email }}</td>
			</tr>
		{% endfor %}
	</table>
	<br>

	<!-- Formulario de nuevo usuario -->
	{% if perms.auth.es_project_manager %}
	<button class="nuevo_form btn btn-info">Añadir usuario</button>
	<div class="formulario">
		<h2 class="form-heading">Crear nuevo usuario</h2>
		<form role="form" method="post" action="">
			{% csrf_token %}
			
			<table class="table table-hover">
				{{ form.as_table }}
			</table>

			<input type="submit" class="btn btn-primary" value="Enviar">
		</form>
	</div>
	{% endif %}
{% endblock %}
